/*==================================
	Reset CSS
====================================*/ 
* {
    margin: 0;
    padding: 0;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #444;
	line-height:25px;
	position:relative;
}
h1,h2,h3,h4,h5,h6{
	text-transform:capitalize;
	font-weight:700;
	margin:0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
img{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
p {
	color: #555;
	margin: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
ul {
    list-style: none;
    margin-bottom: 0;
}
a,button,input,textarea{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-weight:600;
}
span{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
a,
a:hover,
a:focus,
a:active,
button{
    text-decoration: none;
    outline: none;
}
/* Preloader */
.preeloader {
    background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999999;
}
.preloader-spinner {
    -webkit-animation: 1s ease-out 0s normal none infinite running pulsate;
    animation: 1s ease-out 0s normal none infinite running pulsate;
    border: 10px solid #2face9;
    border-radius: 40px;
    display: block;
    height: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    opacity: 0;
    position: fixed;
    top: 50%;
    width: 40px;
    z-index: 10;
}
@-webkit-keyframes pulsate {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}
@keyframes pulsate {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

img {
    max-width: 100%;
	display:block;
}
select:focus,
select:active {
    box-shadow: 0;
    border: 0;
    outline: 0
}
.nav > li > a:focus,
.nav > li > a:hover {
    background-color: transparent;
    text-decoration: none;
}
.navbar {
    margin-bottom: 0;
    border: 0;
}
.section {
	padding-top: 100px;
	padding-bottom: 100px;
	position: relative;
}
.section.off-white {
	background: #f6f6f6;
}
.section.dark{
	background:#2B343E;
}
.margin-bottom-20{
	margin-bottom:20px;
}
.btn {
	border: 1px solid #2face9;
	color: #282828;
	padding: 13px 38px;
	background: #fff;
	text-transform: capitalize;
	font-weight: 600;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border-radius: 0px;
	cursor: pointer;
}
.btn:hover{
	background:#2face9;
	color: #fff;
	border-color:transparent;
}
.btn.primary{
	background:#2face9;
	color:#fff;
}
.btn.primary:hover{
	background:#fff;
	color:#282828;
	border-color:#2face9;
}
.mobile-nav{
	display:none;
}
.shadow{
	position:relative;
}
.shadow::before {
	background-image: linear-gradient(transparent, #111), linear-gradient(#0000, #111);
	height: 70%;
	opacity: 0.8;
	position: absolute;
	right: 0;
	z-index: 1;
	bottom: 0;
	content: "";
	left: 0;
	width: 100%;
	z-index: 3;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.advertise{
	position:relative;
}
.advertise.right{
	float:right;
}
.advertise img{
	border:1px solid #ebebeb;
}

/* Loader CSS */
#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #fff;
	z-index: 4444;
}
#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 90px;
	height: 90px;
	margin: -45px 0 0 -45px;
	border: 15px double #BB1919;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}
#loader::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border: 3px solid transparent;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-animation: spin 3s linear infinite;
	animation: spin 3s linear infinite;
}
#loader::after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border: 3px solid transparent;
	border-top-color: #70A3F7;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
} 
input,
input:focus,
input:active {
    outline: none;
    font-weight: 400;
}
select{
    -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
}
textarea:focus {
    outline: none !important;
    box-shadow: none !important
}
/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
.section-title {
	text-align: center;
	margin-bottom: 50px;
}
.section-title h2 {
	font-size: 30px;
	margin-bottom: 35px;
	position: relative;
	padding-bottom: 35px;
	text-transform: uppercase;
	font-weight: 400;
	color: #282828;
}
.section-title h2 span {
	font-weight: 700;
}
.section-title h2::before {
	content: "";
	position: absolute;
	bottom: -24px;
	left: 50%;
	margin-left: -35px;
	width: 70px;
	height: 7px;
	background: #2face9;
}
.section-title .icon {
	display: inline-block;
	width: 45px;
	height: 45px;
	line-height: 45px;
	border: 2px solid #2face9;
	border-radius: 100%;
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -25px;
	background: #2face999;
}
/*Remove bootstrap tab css*/
.nav-tabs > li > a {
    border: 0
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    border: 0;
    outline: 0
}
.nav-tabs {
    border: 0
}
.nav-tabs > li > a:hover {
    border: 0
}
/*navbar css icon*/
.navbar-toggle .icon-bar {
    position: relative;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    width: 28px;
}
.slick-slide {
    outline: none !important;
}
.overlay{
	position:relative;
}
.overlay:before{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	content:"";
	opacity:0.8;
	background:#2A2D2F;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.title-medium {
	font-size: 18px;
	line-height: 26px;
	font-weight: 600;
}
.title-large {
	font-size: 28px;
}
.title-small {
	font-size: 14px;
	line-height: 22px;
}
.title-small a{
	color:#2B343E;
}
.title-small a:hover{
	color:BB1919;
}
/* BreadCrumbs */
.breadcrumbs {
	text-align: center;
	padding: 60px 0;
	background: url('../images/breadcrumb-bg.jpg');
	position: relative;
	background-repeat: no-repeat;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	border-bottom: 5px solid #2face9;
}
.breadcrumbs::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
}
.breadcrumbs h1 {
	color: #fff;
	text-transform: capitalize;
	font-weight: 700;
	font-size: 32px;
	position: relative;
	margin-top: 30px;
}
.breadcrumbs ul li{
	display:inline-block;
}
.breadcrumbs ul li a {
	color: #fff;
	font-size: 15px;
	text-transform: capitalize;
	font-weight: 500;
}
.breadcrumbs li + li::before {
	color: #b9b9b9;
	content: "/";
	padding:0 5px;
	font-size:18px;
}
.breadcrumbs ul li.active a {
	color: #fff;
	border-radius: 5px;
	background: #2face9;
	padding: 10px;
}
.breadcrumbs ul li.active a:hover{
	background:#fff;
	color:#353535;
}
.breadcrumbs ul li a:hover{
	color:#2face9;
}
.form-control:focus {
	border-color: #ccc;
	box-shadow: 0 0 0 ;
	outline: 0 none;
}
.cat-title {
	border-bottom: 2px solid #BB1919;
	margin-bottom: 20px;
	font-size: 18px;
	color:#fff;
}
.cat-title span{
	background:#BB1919;
	padding:10px 20px;
	display:inline-block;
}
.cat-title:before{
	position:absolute;
	content:"";
	bottom:0;
}
.cat-title.black {
	border-bottom-color: #2B343E;
}
.cat-title.black span{
	background:#2B343E;
}
/* Scroll Up CSS */
#scrollUp {
	right: 15px;
	bottom: 12px;
	color: #fff;
	font-size: 25px;
	opacity: 1;
	background: #2face9;
	font-size: 25px;
	line-height: 38px;
	color: #333;
	text-align: center;
	border-radius: 100%;
	border-radius: 0px;
	width: 65px;
	height: 65px;
	line-height: 65px;
	border-radius: 100%;
}
#scrollUp:hover {
	opacity:1;
	color:#282828;
	background:#fff;
	-webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.2);
	box-shadow:0px 0px 10px rgba(0, 0, 0, 0.2);
}
#scrollUp span {
	display: block;
	line-height: 8px;
	text-transform: capitalize;
	font-size: 15px;
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
} 

/*====================================
	Header Style
======================================*/